{% extends "base.html" %}

{% block content %}
<div id="room">
  <div v-if="joining">
    <div>
      <div class="form-group">
        <textarea v-model="postText" class="form-control"></textarea>
        <button v-on="click: post" class="btn btn-primary form-control">投稿</button>
      </div>
    </div>
    <div class="timeline">
      <post v-repeat="posts"></post>
    </div>
  </div>
  <join-button v-if="!joining" roomid="[[roomId]]" on-joined="[[onJoined]]"></join-button>
</div>
{% endblock %}
