{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
<script src="{% static "js/room.js" %}"></script>
{% endblock %}

{% block css %}
<link href="{% static "css/timeline.css" %}" rel="stylesheet"></script>
{% endblock %}

{% block content %}
<div id="room">
  <div v-if="joining" class="timeline">
    <div>
      <div v-repeat="post : posts" class="post">
        <div class="post__header">
          <span class="post__username">[[ post.user.username ]]</span>
          <span class="post__date">at [[ post.date_created]]</span>
        </div>
        <div class="post__body">[[ post.text]]</div>
      </div>
    </div>
  </div>
  <button v-if="!joining" v-on="click: join" class="btn btn-primary">このルームに参加する</button>
</div>
{% endblock %}
