{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <title>
      {% block title %}{% endblock %}{% block title_separator %} |{% endblock %}CodeArena
    </title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">対偶SNS</a>
        </div>
      </div>
    </nav>
    <div class="container"> 
      {% block content %}{% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.min.js"></script>
    <script src="{% static "js/superagent.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
