.post {
  padding: 16px;
  border-bottom: solid 1px #e0e0e0;
  word-wrap: break-word;
}

.post .post__header {
  font-size: 0.8rem;
}

.post .post__username {
  font-weight: bold;
}

.post .post__date {
  color: #aaa;
}

.post .post__body {
  padding-top: 8px;
}

.timeline {
  box-shadow: 2px 2px 1px #aaa;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #e0e0e0;
}
